body {
  background: #352f5b;
}
.todo {
  background: #423a6f;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  color: whitesmoke;
  font-weight: bold;
}

.todo-title {
  font-family: "Courier New", Courier, monospace;
  font-size: 3em;
  font-weight: bold;
  color: whitesmoke;
}
.unsub-btn {
  background: #352f5b;
  border: 1px solid white;
  border-radius: 5px;
  color: whitesmoke;
  margin: auto;
  display: block;
}
.add-todo {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  margin: auto;
  display: block;
}
